<!DOCTYPE html>
<html ng-app="gemStore">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title></title>
</head>
<body ng-controller="StoreController as store">

    <div class="product" ng-repeat="product in store.products">
        <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <!-- Image Gallery  -->
        <div class="gallery" ng-show="{{product.images.length}}" ng-controller="GalleryController as gallery">
            <img ng-src="{{product.images[gallery.current]}}" />
             <ul class="img-thumbnails clearfix">
             <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" >
                <img ng-src="{{image}}" />
             </li>
            </ul>
        </div>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>

    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>